In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common import exceptions
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
# Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
# You need to find following details:
# A) Rank
# B) Name
# C) Artist
# D) Upload date
# E) Views

In [2]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos' # giving the url to the variable

In [4]:
driver.get(url) # Calling the url in the webdriver

In [5]:
# Defining empty arrays for the data to be scraped
rank = []
name = []
art = []
date = []
view = []

In [6]:
# Extracting all the rows
rows = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr')

In [8]:
# Extracting data from each row
for i in range(len(rows)):
    tag1 = rows[i].find_element_by_xpath("./td[1]") #Extracting rank column
    rank.append(tag1.text)
    
    tag2 = rows[i].find_element_by_xpath("./td[2]") #Extracting name column
    name.append(tag2.text.split('"')[1])
    
    tag3 = rows[i].find_element_by_xpath("./td[3]") #Extracting artist column
    art.append(tag3.text)
    
    tag4 = rows[i].find_element_by_xpath("./td[5]") #Extracting date column
    date.append(tag4.text)
    
    tag5 = rows[i].find_element_by_xpath("./td[4]") #Extracting views column
    view.append(tag5.text)

In [9]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Rank':rank,
                   'Name':name,
                   'Artist':art,
                   'Date Uploaded':date,
                   'Views (billions)':view})

In [10]:
df #Displaying the dataframe created

,Rank,Name,Artist,Date Uploaded,Views (billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.25
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.76
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.20
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.63
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.43
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.03
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.56
7,8.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.49
8,9.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.49
9,10.,Uptown Funk,Mark Ronson,"November 19, 2014",4.47
10,11.,Gangnam Style,Psy,"July 15, 2012",4.35
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.87
12,13.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.72
13,14.,Sugar,Maroon 5,"January 14, 2015",3.65
14,15.,Roar,Katy Perry,"September 5, 2013",3.53
15,16.,Sorry,Justin Bieber,"October 22, 2015",3.52
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.52
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.41
18,19.,Axel F,Crazy Frog,"June 16, 2009",3.24
19,20.,Girls Like You,Maroon 5,"May 31, 2018",3.24
20,21.,Faded,Alan Walker,"December 3, 2015",3.24
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.23
22,23.,Let Her Go,Passenger,"July 25, 2012",3.18
23,24.,Bailando,Enrique Iglesias,"April 11, 2014",3.17
24,25.,Lean On,Major Lazer,"March 22, 2015",3.17
25,26.,Shake It Off,Taylor Swift,"August 18, 2014",3.15
26,27.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.14
27,28.,Perfect,Ed Sheeran,"November 9, 2017",3.10
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.07
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.05

# 2. Scrape the details team India’s international fixtures from bcci.tv.
# Url = https://www.bcci.tv/.
# You need to find following details:
# A) Match title (I.e. 1st ODI)
# B) Series
# C) Place
# D) Date
# E) Time
# Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [11]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [12]:
url = 'https://www.bcci.tv/' # giving the url to the variable

In [13]:
driver.get(url) # Calling the url in the webdriver

In [14]:
# Selecting the international fixture menu
bt1 = driver.find_element_by_xpath('//a[@class="nav-link  "]')
bt1.click()

In [16]:
# Opening the drop down menu
bt2 = driver.find_element_by_xpath('//div[@class="cSBDisplay ng-binding"]')
bt2.click()

In [17]:
# Selecting 'men' in the drop down menu
bt3 = driver.find_element_by_xpath('//div[@class="cSBList active"]/div[2]')
bt3.click()

In [18]:
# Creating loop to click on the view more option until all are displayed
while 1:
    try:
        bt4 = driver.find_element_by_xpath('//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
        bt4.click()
        driver.implicitly_wait(5)
    except NoSuchElementException as e:
        break

In [19]:
# Defining empty arrays for the data to be scraped
title = []
ser = []
place = []
date = []
time = []

In [20]:
tag = driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]') #Scraping title
for j in tag:
    title.append(j.text.split('-')[0])
    
tag = driver.find_elements_by_xpath('//span[@class="ng-binding"]') #Scraping series
for j in tag:
    ser.append(j.text)  \
    
tag = driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]') #Scraping place
for j in tag:
    place.append(j.text)
    
tag = driver.find_elements_by_xpath('//h5[@class="ng-binding"]') #Scraping date
for j in tag:
    date.append(j.text)
    
tag = driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]') #Scraping time
for j in tag:
    time.append(j.text)

In [21]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Title':title,
                   'Series':ser,
                   'Place':place,
                   'Date':date,
                   'Time':time})

In [22]:
df #Displaying the dataframe created

,Title,Series,Place,Date,Time
0,1st Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,",4 MAR 2022,9:30 AM IST
1,2nd Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"M Chinnaswamy Stadium,",12 MAR 2022,2:30 PM IST
2,1st T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"MA Chidambaram Stadium,",9 JUN 2022,7:30 PM IST
3,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",12 JUN 2022,7:30 PM IST
4,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium,",14 JUN 2022,7:30 PM IST
5,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:30 PM IST
6,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",19 JUN 2022,7:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.
# Url = https://www.guru99.com/
# You need to find following details:
# A) Name
# B) Description
# Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [23]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [24]:
url = 'https://www.guru99.com/' # giving the url to the variable

In [25]:
driver.get(url) # Calling the url in the webdriver

In [26]:
# Collecting the link for Selenium
bt = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[2]/span[8]/a')
link = bt.get_attribute('href')

In [27]:
driver.get(link) # Calling the url in the webdriver

In [28]:
# Collecting the link for Selenium Exception Handling
bt = driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]')
link = bt.get_attribute('href')

In [29]:
driver.get(link) # Calling the url in the webdriver

In [30]:
# Defining empty arrays for the data to be scraped
nam = []
des = []

In [31]:
# Getting all rows in the table
rows = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr')

# Extracting data from each row
for i in range(1, len(rows)):
    tag1 = rows[i].find_element_by_xpath("./td[1]") #Extracting rank column
    nam.append(tag1.text)
    
    tag2 = rows[i].find_element_by_xpath("./td[2]") #Extracting name column
    des.append(tag2.text)

In [32]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Name':nam,
                   'Description':des})

In [33]:
df #Displaying the dataframe created

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
# Url = http://statisticstimes.com/
# You have to find following details:
# A) Rank
# B) State
# C) GSDP
# D) GSDP
# E) Share
# F) GDP( billion)
# Note: - From statisticstimes home page you have to reach to economy page through code.

In [34]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [35]:
url = 'http://statisticstimes.com/' # giving the url to the variable

In [36]:
driver.get(url) # Calling the url in the webdriver

In [37]:
# Creating hover action to display the drop down menu
btn = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]')
ActionChains(driver).move_to_element(btn).perform()

In [38]:
# Selecting the India option in the menu
bt = driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[3]')
bt.click()

In [40]:
# Selecting the India State GDP on the menu
bt = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
bt.click()

In [41]:
# Defining empty arrays for the data to be scraped
rank = []
state = []
gsdp1 = []
gsdp2 = []
share = []
gdp = []

In [42]:
# Getting all rows in the table
rows = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr')

# Extracting data from each row
for i in range(len(rows)):
    tag1 = rows[i].find_element_by_xpath("./td[1]") #Extracting rank column
    rank.append(tag1.text)
    
    tag2 = rows[i].find_element_by_xpath("./td[2]") #Extracting state column
    state.append(tag2.text)
    
    tag3 = rows[i].find_element_by_xpath("./td[3]") #Extracting GSDP19-20 column
    gsdp1.append(tag3.text)
    
    tag4 = rows[i].find_element_by_xpath("./td[4]") #Extracting GSDP18-19 column
    gsdp2.append(tag4.text)
    
    tag5 = rows[i].find_element_by_xpath("./td[5]") #Extracting share column
    share.append(tag5.text)
    
    tag6 = rows[i].find_element_by_xpath("./td[6]") #Extracting GDP column
    gdp.append(tag6.text)

In [43]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Rank':rank,
                   'State':state,
                   'GSDP 19-20':gsdp1,
                   'GSDP 18-19':gsdp2,
                   'Share':share,
                   'GDP (Billions)':gdp})

In [44]:
df #Displaying the dataframe created

,Rank,State,GSDP 19-20,GSDP 18-19,Share,GDP (Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
# Url = https://github.com/
# You have to find the following details:
# A) Repository title
# B) Repository description
# C) Contributors count
# D) Language used
# Note: - From the home page you have to click on the trending option from Explore menu through code.

In [45]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [46]:
url = 'https://github.com/' # giving the url to the variable

In [47]:
driver.get(url) # Calling the url in the webdriver

In [48]:
# Creating hover action to display the drop down menu
btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
ActionChains(driver).move_to_element(btn).perform()
driver.implicitly_wait(5)

#Getting the link for the 
btn2 = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
link = btn2.get_attribute('href')

In [49]:
driver.get(link) # Calling the link in the webdriver

In [65]:
# Defining empty arrays for the data to be scraped
title = []
des = []
count = []
lang = []

In [66]:
tag = driver.find_elements_by_xpath('//article[@class="Box-row"]') #Scraping all the rows

for j in tag:
    try:
        k = j.find_element_by_xpath('./h1[@class="h3 lh-condensed"]') #Scraping title name from each row
        title.append(k.text)
    except:
        title.append("-")

for j in tag:
    try:
        k = j.find_element_by_xpath('./p[@class="col-9 color-fg-muted my-1 pr-4"]') #Scraping description from each row
        des.append(k.text)
    except:
        des.append("-")

tag = driver.find_elements_by_xpath('//span[@class="d-inline-block mr-3"]') #Scraping contributors from each row
for j in tag:
    try:
        k = j.find_elements_by_xpath('./a')
        count.append(len(k)) #Counting the number of contributors
    except:
        count.append("-")

tag = driver.find_elements_by_xpath('//div[@class="f6 color-fg-muted mt-2"]')
for j in tag:
    try:
        k = j.find_element_by_xpath('./span[@class="d-inline-block ml-0 mr-3"]') #Scraping language from each row
        lang.append(k.text)
    except:
        lang.append("-")

In [67]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Title':title,
                   'Description':des,
                   'Contributor Count':count,
                   'Language':lang})

In [68]:
df #Displaying the dataframe created

,Title,Description,Contributor Count,Language
0,almerico / bombardier,bombardier,5,Shell
1,ministryofjustice / modernisation-platform,A place for the core work of the Modernisation...,5,HCL
2,cat-milk / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,5,-
3,ytdl-org / youtube-dl,Command-line program to download videos from Y...,5,Python
4,AppFlowy-IO / AppFlowy,AppFlowy is an open-source alternative to Noti...,5,Rust
5,MHProDev / MHDDoS,"Best DDoS Attack Script Python3, Cyber Attack ...",3,Python
6,palahsu / DDoS-Ripper,DDos Ripper a Distributable Denied-of-Service ...,1,Python
7,gkbrk / slowloris,Low bandwidth DoS tool. Slowloris rewrite in P...,5,Python
8,dj-nitehawk / FastEndpoints,A light-weight REST Api framework for ASP.Net ...,4,C#
9,cyprosecurity / API-SecurityEmpire,API Security Projecto aims to present unique a...,2,-
10,iaddis / metalnes,Transistor level NES simulation,1,JavaScript
11,QMHTMY / RustBook,A book about Rust Data Structures and Algorithms.,2,Rust
12,skywind3000 / preserve-cd,Game Preservation Project,2,-
13,phil-opp / blog_os,Writing an OS in Rust,5,HTML
14,LSPosed / MagiskOnWSA,Integrate Magisk root and Google Apps (OpenGAp...,5,-
15,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,5,-
16,uberhalit / EldenRingFpsUnlockAndMore,"A small utility to remove frame rate limit, ch...",3,C#
17,YaoApp / yao,Yao A low code engine to create web services a...,3,Go
18,nusr / hacker-laws-zh,"💻📖对开发人员有用的定律、理论、原则和模式。(Laws, Theories, Princip...",5,-
19,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",5,-
20,solidlyexchange / solidly,-,5,Solidity
21,shadowsocks / shadowsocks-rust,A Rust port of shadowsocks,5,Rust
22,Fndroid / clash_for_windows_pkg,A Windows/macOS GUI based on Clash,2,-
23,youngyangyang04 / leetcode-master,《代码随想录》LeetCode 刷题攻略：200道经典题目刷题顺序，共60w字的详细图解，视...,5,-
24,freqtrade / freqtrade,"Free, open source crypto trading bot",5,Python

# 6. Scrape the details of top 100 songs on billiboard.com.
# Url = https:/www.billboard.com/
# You have to find the following details:
# A) Song name
# B) Artist name
# C) Last week rank
# D) Peak rank
# E) Weeks on board
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [69]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [70]:
url = 'https:/www.billboard.com/' # giving the url to the variable

In [71]:
driver.get(url) # Calling the url in the webdriver

In [77]:
# Getting the link for the charts
link = driver.find_element_by_xpath('/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
k = link.get_attribute('href')

driver.get(k) # Calling the link in the webdriver

In [79]:
# Getting the link for the Hot-100
link = driver.find_element_by_xpath('/html/body/div[4]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
k = link.get_attribute('href')

driver.get(k) # Calling the link in the webdriver

In [86]:
# Defining empty arrays for the data to be scraped
song = []
art = []
lwr = []
pr = []
week = []

In [87]:
tag = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]') #Scraping all the rows

#Running the rows one at a time to scrape the required data
for j in tag:
    try:
        k = j.find_element_by_xpath('./ul/li[1]/h3') #Scraping the song name
        song.append(k.text)
    except:
        song.append("-")
        
    try:
        k = j.find_element_by_xpath('./ul/li[1]/span') #Scraping the artist name
        art.append(k.text)
    except:
        art.append("-")
        
    try:
        k = j.find_element_by_xpath('./ul/li[4]/span') #Scraping the last week rank
        lwr.append(k.text)
    except:
        lwr.append("-")
        
    try:
        k = j.find_element_by_xpath('./ul/li[5]/span') #Scraping the peak rank
        pr.append(k.text)
    except:
        pr.append("-")
        
    try:
        k = j.find_element_by_xpath('./ul/li[6]/span') #Scraping the weeks on board
        week.append(k.text)
    except:
        week.append("-")

In [88]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Song Name':song,
                   'Artist':art,
                   'Last Week Rank':lwr,
                   'Peak Rank':pr,
                   'Weeks on Board':week})

In [89]:
df #Displaying the dataframe created

,Song Name,Artist,Last Week Rank,Peak Rank,Weeks on Board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,4,2,57
2,Easy On Me,Adele,3,1,19
3,abcdefu,GAYLE,7,4,13
4,Stay,The Kid LAROI & Justin Bieber,5,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,84,1,14
96,Come Back As A Country Boy,Blake Shelton,89,85,5
97,Iffy,Chris Brown,96,71,5
98,Home Sweet,Russell Dickerson,94,88,5
99,Too Easy,Gunna & Future,92,16,16

# 7. Scrape the details of Data science recruiters from naukri.com.
# Url = https://www.naukri.com/
# You have to find the following details:
# A) Name
# B) Designation
# C) Company
# D) Skills they hire for
# E) Location
# Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [12]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [13]:
url = 'https://www.naukri.com/' # giving the url to the variable

In [14]:
driver.get(url) # Calling the url in the webdriver

In [15]:
# Getting the link for company option
link = driver.find_element_by_xpath('/html/body/div/div[2]/div[1]/div/ul/li[2]/a')
k = link.get_attribute('href')

driver.get(k) # Calling the link in the webdriver

In [16]:
# Getting the link for the recruiters web page
link = driver.find_element_by_xpath('/html/body/div[1]/div/ul/li[2]/a')
k = link.get_attribute('href')

driver.get(k) # Calling the link in the webdriver

In [17]:
#Entering the keys in the search bar
search = driver.find_element_by_xpath('//input[@class="sugInp"]')
search.send_keys("Data Science")

In [18]:
#Clicking the search button
en = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
en.click()

In [19]:
# Defining empty arrays for the data to be scraped
nm = []
dsg = []
cmp = []
skl = []
loc = []
i=0

In [20]:
while 1:
    tag = driver.find_elements_by_xpath('//div[@class="recInfo"]') #Selecting all the rows of data 
    
    #Playing each row one at a time
    for j in tag:
        try:
            k = j.find_element_by_xpath('./div[1]/p/a[1]/span') #Scraping name
            nm.append(k.text)
        except:
            nm.append('-')
        
        try:
            k = j.find_element_by_xpath('./div[1]/p/span[1]') #Scraping designation
            dsg.append(k.text)
        except:
            dsg.append('-')
        
        try:
            k = j.find_element_by_xpath('./div[1]/p/a[2]') #Scraping company name
            cmp.append(k.text)
        except:
            cmp.append('-')
        
        try:
            k = j.find_element_by_xpath('./div[@class="hireSec highlightable"]') #Scraping skill required
            skl.append(k.text)
        except:
            skl.append('-')
        
        try:
            k = j.find_element_by_xpath('./div[1]/p/span[2]/small') #Scraping location
            loc.append(k.text)
        except:
            loc.append('-')
        
    try:
        if (i==0):
            bt = driver.find_element_by_xpath('//div[@class="pagination"]/button[1]') #Clicking on next page
            bt.click()
            i+=1
        else:
            bt = driver.find_element_by_xpath('//div[@class="pagination"]/button[2]') #Clicking on next page
            bt.click()
    except exceptions.NoSuchElementException as e:
        break #end of loop

In [21]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Name':nm,
                   'Designation':dsg,
                   'Company':cmp,
                   'Skill':skl,
                   'Location':loc})

In [22]:
df

,Name,Designation,Company,Skill,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
...,...,...,...,...,...
5977,Deepali,Recruitment Consultant,Intone Networks (India)Pvt Ltd,Not Specified,Hyderabad / Secunderabad
5978,Vikas Tiwari,Tester,Accenture,"Epicor Pos, C++, Sql, Plsql, Sap, Pos",Mumbai
5979,Ravi Manda,Sr. Talent Acquisition Recruiter,New York Global Consultants Pvt. Ltd.,Not Specified,Hyderabad / Secunderabad
5980,Ashish Dave,Sales Head-APAC,Cloudiway,Not Specified,Delhi
5981,Praveen Kumar,Lead Executive,Aricent Technologies (H) Limited,Not Specified,Bengaluru / Bangalore

# 8. Scrape the details of Highest selling novels.
# Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
# You have to find the following details:
# A) Book name
# B) Author name
# C) Volumes sold
# D) Publisher
# E) Genre

In [23]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [24]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/' # giving the url to the variable

In [25]:
driver.get(url) # Calling the url in the webdriver

In [26]:
# Defining empty arrays for the data to be scraped
title = []
athr = []
vol = []
publ = []
gnre = []

In [27]:
tag = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr') #Scraping all the rows

#Running the rows one at a time to scrape the required data
for j in tag:
    try:
        k = j.find_element_by_xpath('./td[2]') #Scraping the title
        title.append(k.text)
    except:
        title.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[3]') #Scraping the author name
        athr.append(k.text)
    except:
        athr.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[4]') #Scraping the volumes sold
        vol.append(k.text)
    except:
        vol.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[5]') #Scraping the publisher
        publ.append(k.text)
    except:
        publ.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[6]') #Scraping the genre
        gnre.append(k.text)
    except:
        gnre.append("-")

In [28]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Title':title,
                   'Author':athr,
                   'Volume Sold':vol,
                   'Publisher':publ,
                   'Genre':gnre})

In [29]:
df

,Title,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
# Url = https://www.imdb.com/list/ls095964455/
# You have to find the following details:
# A) Name
# B) Year span
# C) Genre
# D) Run time
# E) Ratings
# F) Votes

In [30]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [31]:
url = 'https://www.imdb.com/list/ls095964455/' # giving the url to the variable

In [32]:
driver.get(url) # Calling the url in the webdriver

In [33]:
# Defining empty arrays for the data to be scraped
nme = []
yr = []
gnr = []
run = []
rt = []
vt = []

In [34]:
tag = driver.find_elements_by_xpath('//div[@class="lister-item mode-detail"]') #Scraping all the rows

#Running the rows one at a time to scrape the required data
for j in tag:
    try:
        k = j.find_element_by_xpath('./div[2]/h3/a') #Scraping the name
        nme.append(k.text)
    except:
        nme.append("-")
        
    try:
        k = j.find_element_by_xpath('./div[2]/h3/span[2]') #Scraping the year run
        yr.append(k.text)
    except:
        yr.append("-")
        
    try:
        k = j.find_element_by_xpath('./div[2]/p[1]/span[5]') #Scraping the genre
        gnr.append(k.text)
    except:
        gnr.append("-")
        
    try:
        k = j.find_element_by_xpath('./div[2]/p[1]/span[3]') #Scraping the run time
        run.append(k.text)
    except:
        run.append("-")
        
    try:
        k = j.find_element_by_xpath('./div[2]/div[1]/div[1]/span[2]') #Scraping the rating
        rt.append(k.text)
    except:
        rt.append("-")
    
    try:
        k = j.find_element_by_xpath('./div[2]/p[4]/span[2]') #Scraping the votes
        vt.append(k.text)
    except:
        vt.append("-")

In [35]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Name':nme,
                   'Year Run':yr,
                   'Genre':gnr,
                   'Run Time':run,
                   'Rating':rt,
                   'Votes':vt})

In [36]:
df

,Name,Year Run,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,957,421"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"967,039"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"932,417"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"279,140"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"239,326"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,828"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,548"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,899"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,362"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"222,198"

# 10. Details of Datasets from UCI machine learning repositories.
# Url = https://archive.ics.uci.edu/
# You have to find the following details:
# A) Dataset name
# B) Data type
# C) Task
# D) Attribute type
# E) No of instances
# F) No of attribute
# G) Year
# Note: - from the home page you have to go to the ShowAllDataset page through code.

In [37]:
# Calling the webdriver exe file
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\chromedriver.exe")

In [38]:
url = 'https://archive.ics.uci.edu/' # giving the url to the variable

In [39]:
driver.get(url) # Calling the url in the webdriver

In [40]:
# Getting the link for the all data sets web page
tag = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
link = tag.get_attribute('href')

driver.get(link) #Calling the link in the webdriver

In [45]:
# Defining empty arrays for the data to be scraped
nme = []
tpe = []
tsk = []
att = []
nin = []
nat = []
yr = []

In [46]:
tag = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr') #Scraping all the rows

#Running the rows one at a time to scrape the required data
for j in tag[1:]:
    try:
        k = j.find_element_by_xpath('./td[1]/table/tbody/tr/td[2]/p/b/a') #Scraping the name
        nme.append(k.text)
    except:
        nme.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[2]/p') #Scraping the data type
        tpe.append(k.text)
    except:
        tpe.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[3]/p') #Scraping the task
        tsk.append(k.text)
    except:
        tsk.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[4]/p') #Scraping the attribute
        att.append(k.text)
    except:
        att.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[5]/p') #Scraping the no. of instances
        nin.append(k.text)
    except:
        nin.append("-")
    
    try:
        k = j.find_element_by_xpath('./td[6]/p') #Scraping the no. of attribute
        nat.append(k.text)
    except:
        nat.append("-")
        
    try:
        k = j.find_element_by_xpath('./td[7]/p') #Scraping the year
        yr.append(k.text)
    except:
        yr.append("-")

In [47]:
#Creating a Dataframe for the extracted data
df = pd.DataFrame({'Dataset Name':nme,
                   'Data Type':tpe,
                   'Task':tsk,
                   'Attribute Type':att,
                   'No. of Instances':nin,
                   'No. of Attribute':nat, 
                   'Year':yr})

In [48]:
df

,Dataset Name,Data Type,Task,Attribute Type,No. of Instances,No. of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021