In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
link = 'https://www.imdb.com/chart/top'

In [4]:
site = requests.get(link)

In [5]:
site

In [6]:
bs = BeautifulSoup(site.content)

In [7]:
name = []

In [8]:
b=0
for i in bs.find_all('td',class_='titleColumn'): 
    if(b<100):
        name.append(i.text.split('\n')[2].strip())
        b=b+1
    else:
        break

In [9]:
name

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Spider-Man: No Way Home',
 'Il buono, il brutto, il cattivo',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Fight Club',
 'Forrest Gump',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Shichinin no samurai',
 'Se7en',
 'The Silence of the Lambs',
 'Cidade de Deus',
 "It's a Wonderful Life",
 'La vita è bella',
 'Saving Private Ryan',
 'Star Wars',
 'Interstellar',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Gisaengchung',
 'Léon',
 'Seppuku',
 'The Pianist',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'The Usual Suspects',
 'Psycho',
 'The Lion King',
 'Modern Times',
 'American History X',
 'Hotaru no haka',
 'Whiplash',
 'Gladiator',
 'City Lights',
 'The Departed',
 'The Intouchables',
 'The Prestige',
 'Casablanca',
 'Once Upon a Time in the West',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Apocalypse Now',
 'Memento',
 'Raiders of the Lost Ark',
 'The Great Dictator',
 'Django Unchained',
 'The Lives of Others',
 'Paths of Glory',
 'Sunset Blvd.',
 'WALL·E',
 'Avengers: Infinity War',
 'Witness for the Prosecution',
 'The Shining',
 'Spider-Man: Into the Spider-Verse',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Joker',
 'Kimi no na wa.',
 'Coco',
 'The Dark Knight Rises',
 'Aliens',
 'Once Upon a Time in America',
 'Avengers: Endgame',
 'Capharnaüm',
 'Das Boot',
 'Tengoku to jigoku',
 '3 Idiots',
 'Toy Story',
 'American Beauty',
 'Amadeus',
 'Braveheart',
 'Inglourious Basterds',
 'Hamilton',
 'Good Will Hunting',
 'Star Wars: Episode VI - Return of the Jedi',
 '2001: A Space Odyssey',
 'Idi i smotri',
 'Reservoir Dogs',
 'Taare Zameen Par',
 'Vertigo',
 'M - Eine Stadt sucht einen Mörder',
 'Citizen Kane',
 'Jagten',
 'Requiem for a Dream',
 "Singin' in the Rain",
 'North by Northwest',
 'Eternal Sunshine of the Spotless Mind']

In [10]:
year = []

In [11]:
b=0
for i in bs.find_all('span',class_='secondaryInfo'):
    if(b<100):
        year.append(i.text)
        b+=1
    else:
        break

In [12]:
year

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(2021)',
 '(1966)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1954)',
 '(1995)',
 '(1991)',
 '(2002)',
 '(1946)',
 '(1997)',
 '(1998)',
 '(1977)',
 '(2014)',
 '(2001)',
 '(1999)',
 '(2019)',
 '(1994)',
 '(1962)',
 '(2002)',
 '(1991)',
 '(1985)',
 '(1995)',
 '(1960)',
 '(1994)',
 '(1936)',
 '(1998)',
 '(1988)',
 '(2014)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2011)',
 '(2006)',
 '(1942)',
 '(1968)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1979)',
 '(2000)',
 '(1981)',
 '(1940)',
 '(2012)',
 '(2006)',
 '(1957)',
 '(1950)',
 '(2008)',
 '(2018)',
 '(1957)',
 '(1980)',
 '(2018)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(2019)',
 '(2016)',
 '(2017)',
 '(2012)',
 '(1986)',
 '(1984)',
 '(2019)',
 '(2018)',
 '(1981)',
 '(1963)',
 '(2009)',
 '(1995)',
 '(1999)',
 '(1984)',
 '(1995)',
 '(2009)',
 '(2020)',
 '(1997)',
 '(1983)',
 '(1968)',
 '(1985)',
 '(1992)',
 '(2007)',
 '(1958)',
 '(1931)',
 '(1941)',
 '(2012)',
 '(2000)',
 '(1952)',
 '(1959)',
 '(2004)']

In [13]:
rating = []

In [14]:
b=0
for i in bs.find_all('td',class_='ratingColumn imdbRating'):
    if(b<100):
        children=i.find('strong')
        rating.append(children.text)
        b+=1
    else:
        break

In [15]:
rating

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [16]:
print(len(name),len(year),len(rating))

100 100 100

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame({'Name':name,'Year':year,'Rating':rating})

In [19]:
df

                                     Name    Year Rating
0                The Shawshank Redemption  (1994)    9.2
1                           The Godfather  (1972)    9.1
2                  The Godfather: Part II  (1974)    9.0
3                         The Dark Knight  (2008)    9.0
4                            12 Angry Men  (1957)    8.9
..                                    ...     ...    ...
95                                 Jagten  (2012)    8.3
96                    Requiem for a Dream  (2000)    8.3
97                    Singin' in the Rain  (1952)    8.3
98                     North by Northwest  (1959)    8.3
99  Eternal Sunshine of the Spotless Mind  (2004)    8.3

[100 rows x 3 columns]