In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
import pandas as pd

# 6.(a) Top 10 ODI teams in womenâ€™s cricket along with the records for matches, points and rating#

In [4]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [5]:
site = requests.get(url)

In [6]:
bs = BeautifulSoup(site.content)

In [7]:
teamA = []

In [8]:
b=0
for i in bs.find_all('span',class_='u-hide-phablet'):
    if(b<10):
        teamA.append(i.text)
        b+=1
    else:
        break

In [9]:
teamA

['Australia',
 'South Africa',
 'England',
 'India',
 'Bangladesh',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [10]:
matchesA = []

In [11]:
i = bs.find('td',class_='rankings-block__banner--matches')

In [12]:
matchesA.append(i.text)

In [13]:
b=1
for i in bs.find_all('tr',class_='table-body'):
    if(b<10):
        child = i.find_all('td',class_='table-body__cell u-center-text')
        matchesA.append(child[0].text)
        b+=1
    else:
        break

In [14]:
matchesA

['17', '19', '18', '17', '5', '19', '19', '18', '5', '5']

In [15]:
pointsA = []

In [16]:
i = bs.find('td',class_='rankings-block__banner--points')

In [17]:
pointsA.append(i.text)

In [18]:
b=1
for i in bs.find_all('tr',class_='table-body'):
    if(b<10):
        child = i.find_all('td',class_='table-body__cell u-center-text')
        pointsA.append(child[1].text)
        b+=1
    else:
        break

In [19]:
pointsA

['2,746',
 '2,307',
 '2,148',
 '1,899',
 '475',
 '1,668',
 '1,658',
 '1,226',
 '240',
 '233']

In [20]:
ratingsA = []

In [21]:
i = bs.find('td',class_='rankings-block__banner--rating u-text-right')

In [22]:
ratingsA.append(i.text.strip())

In [23]:
b=1
for i in bs.find_all('td',class_='table-body__cell u-text-right rating'):
    if(b<10):
        ratingsA.append(i.text)
        b+=1
    else:
        break

In [24]:
ratingsA

['162', '121', '119', '112', '95', '88', '87', '68', '48', '47']

In [25]:
print(len(teamA),len(matchesA),len(pointsA),len(ratingsA))

10 10 10 10

In [26]:
df = pd.DataFrame({'Team':teamA,'Matches':matchesA,'Points':pointsA,'Rating':ratingsA})

In [27]:
df

           Team Matches Points Rating
0     Australia      17  2,746    162
1  South Africa      19  2,307    121
2       England      18  2,148    119
3         India      17  1,899    112
4    Bangladesh       5    475     95
5   New Zealand      19  1,668     88
6   West Indies      19  1,658     87
7      Pakistan      18  1,226     68
8       Ireland       5    240     48
9     Sri Lanka       5    233     47

# 6.(b) Top 10 womenâ€™s ODI Batting players along with the records of their team and rating

In [28]:
url2 = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

In [29]:
site2 = requests.get(url2)

In [30]:
bs2 = BeautifulSoup(site2.content)

In [31]:
nameB = []

In [32]:
i = bs2.find('div',class_='rankings-block__banner--name-large')

In [33]:
nameB.append(i.text)

In [34]:
b=1
for i in bs2.find_all('td',class_='table-body__cell rankings-table__name name'):
    if(b<10):
        nameB.append(i.text.strip())
        b+=1
    else:
        break

In [35]:
nameB

['Lizelle Lee',
 'Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Stafanie Taylor',
 'Heather Knight']

In [36]:
teamB = []

In [37]:
i = bs2.find('div',class_='rankings-block__banner--nationality')

In [38]:
teamB.append(i.text.strip())

In [39]:
b=1
for i in bs2.find_all('span',class_='table-body__logo-text'):
    if(b<10):
        teamB.append(i.text.strip())
        b+=1
    else:
        break

In [40]:
teamB

['SA', 'AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'WI', 'ENG']

In [41]:
ratingB = []

In [42]:
i = bs2.find('div',class_='rankings-block__banner--rating')

In [43]:
ratingB.append(i.text)

In [44]:
b=1
for i in bs2.find_all('td',class_='table-body__cell rating'):
    if(b<10):
        ratingB.append(i.text)
        b+=1
    else:
        break

In [45]:
ratingB

['761', '750', '738', '728', '717', '710', '699', '690', '676', '674']

In [46]:
print(len(nameB),len(teamB),len(ratingB))

10 10 10

In [47]:
df2 = pd.DataFrame({'Name':nameB,'Team':teamB,'Rating':ratingB})

In [48]:
df2

                Name Team Rating
0        Lizelle Lee   SA    761
1       Alyssa Healy  AUS    750
2        Mithali Raj  IND    738
3     Tammy Beaumont  ENG    728
4  Amy Satterthwaite   NZ    717
5    Smriti Mandhana  IND    710
6        Meg Lanning  AUS    699
7        Beth Mooney  AUS    690
8    Stafanie Taylor   WI    676
9     Heather Knight  ENG    674

# 6.(c) Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating

In [49]:
url3 = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'

In [50]:
site3 = requests.get(url3)

In [51]:
bs3 = BeautifulSoup(site3.content)

In [52]:
i = bs3.find('div',class_='rankings-block__banner--name-large')

In [53]:
nameC= []

In [54]:
nameC.append(i.text)

In [55]:
b=1
for i in bs3.find_all('td',class_='table-body__cell rankings-table__name name'):
    if(b<10):
        nameC.append(i.text.strip())
        b+=1
    else:
        break

In [56]:
nameC

['Jess Jonassen',
 'Jhulan Goswami',
 'Megan Schutt',
 'Marizanne Kapp',
 'Sophie Ecclestone',
 'Shabnim Ismail',
 'Katherine Brunt',
 'Ayabonga Khaka',
 'Anya Shrubsole',
 'Kate Cross']

In [57]:
teamC = []

In [58]:
i = bs3.find('div',class_='rankings-block__banner--nationality')

In [59]:
teamC.append(i.text.strip())

In [60]:
b=1
for i in bs3.find_all('span',class_='table-body__logo-text'):
    if(b<10):
        teamC.append(i.text.strip())
        b+=1
    else:
        break

In [61]:
teamC

['AUS', 'IND', 'AUS', 'SA', 'ENG', 'SA', 'ENG', 'SA', 'ENG', 'ENG']

In [62]:
ratingC = []

In [63]:
i = bs3.find('div',class_='rankings-block__banner--rating')

In [64]:
ratingC.append(i.text)

In [65]:
b=1
for i in bs3.find_all('td',class_='table-body__cell rating'):
    if(b<10):
        ratingC.append(i.text)
        b+=1
    else:
        break

In [66]:
ratingC

['760', '727', '717', '715', '701', '688', '666', '643', '598', '589']

In [67]:
print(len(nameC),len(teamC),len(ratingC))

10 10 10

In [68]:
df3 = pd.DataFrame({'Name':nameC,'Team':teamC,'Rating':ratingC})

In [69]:
df3

                Name Team Rating
0      Jess Jonassen  AUS    760
1     Jhulan Goswami  IND    727
2       Megan Schutt  AUS    717
3     Marizanne Kapp   SA    715
4  Sophie Ecclestone  ENG    701
5     Shabnim Ismail   SA    688
6    Katherine Brunt  ENG    666
7     Ayabonga Khaka   SA    643
8     Anya Shrubsole  ENG    598
9         Kate Cross  ENG    589