In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in d:\datatrained\anaconda\lib\site-packages (from selenium) (1.26.4)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Requirement already satisfied: async-generator>=1.9 in d:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in d:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in d:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in d:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in d:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in d:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: pycparser in d:\datatrained\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: cryptography>=1.3.4 in d:\datatrained\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in d:\datatrained\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in d:\datatrained\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in d:\datatrained\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.12.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

Now after successfully installing the selenium package we download the webdriver.

Importing the required libraries

In [1]:
import selenium
from selenium import webdriver
from selenium.common import exceptions
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

Now, firstly we connect to the web driver

In [56]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [57]:
url = "https://www.naukri.com/"

In [58]:
driver.get(url)

First thing to do is type the job position

In [59]:
#We locate the position for where to input the search request using search_by_id
job = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
job

In [73]:
# Now, we input the word that is to be searched
job.send_keys("Data Analyst")

Now we move to the search location tag

In [74]:
loc = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
loc

In [75]:
# Now we input the data we need to search
loc.send_keys("Banglore")

Now, we seach for the search button and hit the search

In [76]:
btn = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
btn

In [77]:
btn.click()

Now, he have reached the required page and start with the scraping of data

In [80]:
# Job Title is the first we scrape
tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [81]:
title=[]
b=0
for i in tags:
    if(b<10):
        title.append(i.text)
        b+=1
    else:
        break
title

['Safety Data Analyst',
 'Lead - Data Analyst / Scientist',
 'Research - Data Analyst / Associate',
 'Data Analyst - CRM Platform',
 'Senior Data Analyst - Supporting Audits',
 'Senior Data Analyst - KPO',
 'Data Analyst',
 'Data Analyst',
 'Financial Data Analyst',
 'Tcs Hiring For Data Analyst / Engineers']

Now, we scrape the top 10 job locations

In [82]:
tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(tags)

20

In [83]:
loc=[]
b=0
for i in tags:
    if(b<10):
        loc.append(i.text)
        b+=1
    else:
        break
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Delhi / NCR, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR']

Now let us scrape the company name

In [84]:
tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(tags)

20

In [85]:
com = []
b=0
for i in tags:
    if(b<10):
        com.append(i.text)
        b+=1
    else:
        break
com

['Novo Nordisk India',
 'Axim Technologies',
 'AXL HR Tech',
 'Artech infosystem',
 'Visa',
 'Huquo Consulting Pvt. Ltd',
 'Multi Recruit',
 'Snaphunt',
 "Moody's",
 'TCS']

Lastly, we scrape the experience required

In [86]:
tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
len(tags)

20

In [87]:
exp = []
b=0
for i in tags:
    if(b<10):
        exp.append(i.text)
        b+=1
    else:
        break
exp

['0-4 Yrs',
 '12-14 Yrs',
 '0-2 Yrs',
 '1-6 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '2-4 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-9 Yrs']

Finally, we create a Dataframe for the scraped data and complete with the Question 1 of the assignment

In [88]:
df = pd.DataFrame({'Job Title':title, 'Location':loc, 'Comapny':com, 'Experience':exp})
df

,Job Title,Location,Comapny,Experience
0,Safety Data Analyst,Bangalore/Bengaluru,Novo Nordisk India,0-4 Yrs
1,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
2,Research - Data Analyst / Associate,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",AXL HR Tech,0-2 Yrs
3,Data Analyst - CRM Platform,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Artech infosystem,1-6 Yrs
4,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa,5-8 Yrs
5,Senior Data Analyst - KPO,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,7-12 Yrs
6,Data Analyst,Bangalore/Bengaluru,Multi Recruit,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Snaphunt,0-2 Yrs
8,Financial Data Analyst,Bangalore/Bengaluru,Moody's,0-2 Yrs
9,Tcs Hiring For Data Analyst / Engineers,"Pune, Bangalore/Bengaluru, Delhi / NCR",TCS,4-9 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

Firstly, we connect to the web driver

In [42]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [43]:
url = "https://www.naukri.com/"

Calling the url to the selenium driver

In [44]:
driver.get(url)

Entering the designation into the bar

In [45]:
job = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
job

In [46]:
job.send_keys("Data Scientist")

Now, we locate and enter the location

In [47]:
loc = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
loc

In [48]:
loc.send_keys("Banglore")

Locating the search button and clicking it

In [49]:
btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
btn

In [50]:
btn.click()

Scraping the job titles

In [51]:
tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(tags)

20

In [52]:
title=[]
b=0
for i in tags:
    if(b<10):
        title.append(i.text)
        b+=1
    else:
        break
title

['Lead/Senior Data Scientist (NLP)',
 'Commercial Analytics Data Scientist',
 'Senior Data Scientist - Logistics',
 'Lead Data Scientist - NLP/OpenCV',
 'Lead Data Scientist',
 'Lead Data Scientist - Prescriptive Analytics/Predictive Modeling',
 'Lead - Data Analyst / Scientist',
 'Data scientist ( WFH )',
 'Hiring For Data Scientist @ Bangalore',
 'Data Scientist - Logistics']

Scraping the job location

In [55]:
tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(tags)

20

In [62]:
loc=[]
b=0
for i in tags:
    if(b<10):
        loc.append(i.text)
        b+=1
    else:
        break
loc

['Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru']

Scraping company name

In [64]:
tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(tags)

20

In [65]:
cmp = []
b=0
for i in tags:
    if(b<10):
        cmp.append(i.text)
        b+=1
    else:
        break
cmp

['Samya.AI A FRACTAL Entity',
 'Dell',
 'GO-JEK India',
 'Codersbrain',
 'First American',
 'Codersbrain',
 'Axim Technologies',
 'SPM Jobs',
 'West Pharmaceutical Packaging India Pvt. Ltd.',
 'Gojek Tech']

Finally, we create a Dataframe for the scraped data and complete with the Question 1 of the assignment

In [68]:
df = pd.DataFrame({'Job Title':title, 'Location':loc, 'Comapny':cmp})
df

,Job Title,Location,Comapny
0,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
1,Commercial Analytics Data Scientist,Bangalore/Bengaluru,Dell
2,Senior Data Scientist - Logistics,Bangalore/Bengaluru,GO-JEK India
3,Lead Data Scientist - NLP/OpenCV,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
4,Lead Data Scientist,Bangalore/Bengaluru,First American
5,Lead Data Scientist - Prescriptive Analytics/P...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
6,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies
7,Data scientist ( WFH ),Bangalore/Bengaluru,SPM Jobs
8,Hiring For Data Scientist @ Bangalore,Bangalore/Bengaluru\n(WFH during Covid),West Pharmaceutical Packaging India Pvt. Ltd.
9,Data Scientist - Logistics,Bangalore/Bengaluru,Gojek Tech

# Q3: In this question you have to scrape data using the filters available on the webpage
# You have to use the location and salary filter.
# You have to scrape data for “Data Scientist” designation for first 10 job results.
# You have to scrape the job-title, job-location, company name, experience required.
# The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

Firstly, we connect to the web driver

In [89]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [90]:
url = "https://www.naukri.com/"

In [91]:
driver.get(url)

Enter the job designation to the search bar

In [92]:
job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
job

In [93]:
job.send_keys("Data Scientist")

Locating the search button and clicking search

In [94]:
btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
btn

In [95]:
btn.click()

Applying the location filter to Delhi/NCR

In [98]:
fil_loc = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
fil_loc

In [99]:
fil_loc.click()

Applying salary filter of 3-6 lakhs

In [100]:
sal = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
sal

In [101]:
sal.click()

Scraping job title

In [102]:
tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(tags)

20

In [103]:
title = []
b=0
for i in tags:
    if(b<10):
        title.append(i.text)
        b+=1
    else:
        break
title

['Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Senior Data Scientist I',
 'Openings For Jr/mid/Sr level data Scientists',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Data Scientist role',
 'Data Scientist role',
 'Data Scientist Internship',
 'Data Scientist',
 'Data Scientist']

Scraping job location

In [104]:
tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(tags)

20

In [105]:
loc = []
b=0
for i in tags:
    if(b<10):
        loc.append(i.text)
        b+=1
    else:
        break
loc

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'New Delhi',
 'Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Chennai']

Scraping Company name

In [106]:
tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(tags)

20

In [107]:
cmp = []
b=0
for i in tags:
    if(b<10):
        cmp.append(i.text)
        b+=1
    else:
        break
cmp

['Schlesinger Group',
 'Delhivery',
 'Pluto seven business solutions (p) limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'iHackers Inc',
 'LG',
 'Teleperformance']

Scraping experience required

In [108]:
tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(tags)

20

In [109]:
exp = []
b=0
for i in tags:
    if(b<10):
        exp.append(i.text)
        b+=1
    else:
        break
exp

['0-3 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '0-1 Yrs',
 '0-2 Yrs',
 '4-9 Yrs']

Finally, making a DataFrame for all the scraped data

In [110]:
df = pd.DataFrame({'Job Title':title, 'Location':loc, 'Comapny':cmp, 'Experience':exp})
df

,Job Title,Location,Comapny,Experience
0,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
1,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
2,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
3,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
4,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
5,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
6,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
7,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
8,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG,0-2 Yrs
9,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
## 1. Brand
## 2. Product Description
## 3. Price

Firstly, we connect to the web driver

In [64]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [65]:
url = 'https://www.flipkart.com/'

In [66]:
driver.get(url)

Closing the login popup

In [67]:
btn = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
btn.click()

Locating the search tab and inputting 'sunglasses' to search

In [68]:
tags = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
tags

In [69]:
tags.send_keys("sunglasses")

Loacting and clicking search

In [70]:
btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
btn

In [71]:
btn.click()

First we define empty elements

In [72]:
bnd = []
prd = []
prc = []

Now, we start scraping the data

In [73]:
o1=o2=o3=0

tag1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in tag1:
    if(o1<100):
        bnd.append(i.text)
        o1+=1
    else:
        break
    
tag2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in tag2:
    if(o2<100):
        prd.append(i.text)
        o2+=1
    else:
        break
    
tag3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in tag3:
    if(o3<100):
        prc.append(i.text)
        o3+=1
    else:
        break

Check whether we have scraped 100 data

In [74]:
print(len(bnd),len(prd),len(prc))

40 40 40

Since, we have to scrape more data from next page. Clicking the next button

In [75]:
btn1 = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
btn1.click()

Scraping the data again

In [76]:
tag1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in tag1:
    if(o1<100):
        bnd.append(i.text)
        o1+=1
    else:
        break

tag2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in tag2:
    if(o2<100):
        prd.append(i.text)
        o2+=1
    else:
        break
    
tag3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in tag3:
    if(o3<100):
        prc.append(i.text)
        o3+=1
    else:
        break

Check whether we have scraped 100 data

In [77]:
print(len(bnd),len(prd),len(prc))

80 80 80

Since, we have to scrape more data from next page. Clicking the next button

In [78]:
btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
btn.click()

Scraping the data again

In [80]:
tag1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in tag1:
    if(o1<100):
        bnd.append(i.text)
        o1+=1
    else:
        break

tag2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in tag2:
    if(o2<100):
        prd.append(i.text)
        o2+=1
    else:
        break
    
tag3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in tag3:
    if(o3<100):
        prc.append(i.text)
        o3+=1
    else:
        break

Check whether we have scraped 100 data

In [81]:
print(len(bnd),len(prd),len(prc))

100 100 100

Since, we have scraped 100 data as required. We finish with the solution by making a DataFrame of the data scraped

In [82]:
df = pd.DataFrame({'Brand Name':bnd, 'Product Description':prd, 'Price':prc})
df

        Brand Name                                Product Description Price
0    VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (53)  ₹999
1    VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (...  ₹999
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
3             SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
4        Elligator                UV Protection Round Sunglasses (54)  ₹248
..             ...                                                ...   ...
95  ROZZETTA CRAFT  UV Protection, Gradient Butterfly, Shield Sung...  ₹426
96      PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)  ₹309
97        Poloport      UV Protection Wayfarer Sunglasses (Free Size)  ₹236
98          PIRASO       UV Protection Aviator Sunglasses (Free Size)  ₹261
99  ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹349

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

Firstly, we connect to the web driver

In [2]:
driver = webdriver.Chrome(r'C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe')

In [3]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

In [4]:
driver.get(url)

Clicking on the all reviews section

In [5]:
btn = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
btn.click()

Initializing the empty arrays

In [6]:
rtg = []
smr = []
des = []

Scraping data from page 1

In [7]:
o1=o2=o3=0
tag1 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in tag1:
    if(o1<100):
        rtg.append(i.text)
        o1+=1
    else:
        break

tag2 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in tag2:
    if(o2<100):
        smr.append(i.text)
        o2+=1
    else:
        break
    
tag3 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in tag3:
    if(o3<100):
        des.append(i.text)
        o3+=1
    else:
        break

Checking the amount of data scraped

In [8]:
print(len(rtg),len(smr),len(des))

10 10 10

We click on the button next to scrape more data

In [9]:
btn = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
btn.click()

Now, we scrape the complete data using a loop for faster working

In [11]:
# Importing exception library to counter Stale Element Reference
from selenium.common import exceptions

for j in range(0,10):
    try:
        # We scrape the data
        tag1 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in tag1:
            if(o1<100):
                rtg.append(i.text)
                o1+=1
            else:
                break
    
        tag2 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in tag2:
            if(o2<100):
                smr.append(i.text)
                o2+=1
            else:
                break
        
        tag3 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in tag3:
            if(o3<100):
                des.append(i.text)
                o3+=1
            else:
                break
    
        # We check if we need more data, if yes we click the next button for next page
        if(o1<100):
            a = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
            a.click()
    except exceptions.StaleElementReferenceException:
        pass

In [12]:
print(len(rtg),len(smr),len(des))

100 100 100

We finally create a Dataframe for the scraped data

In [13]:
df = pd.DataFrame({'Rating':rtg, 'Description Summary':smr, 'Description':des})
df

,Rating,Description Summary,Description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Worth every penny,Iphone is just awesome.. battery backup is ver...
96,5,Classy product,It's my first time to use iOS phone and I am l...
97,5,Simply awesome,Best budget Iphone till date ❤️ go for it guys...
98,5,Worth every penny,Totally in love with this ❤ the camera quality...
99,5,Worth every penny,"Excellent camera, good performance, no lag. Th..."

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field

Firstly, we connect to the web driver

In [32]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [33]:
url = 'https://www.flipkart.com/'

In [34]:
driver.get(url)

First, we close the login popup

In [35]:
btn = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
btn.click()

Now, we enter the search data into the search bar

In [36]:
tag = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
tag.send_keys("sneakers")

Now, we click on the search button

In [37]:
btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
btn.click()

Initializing empty arrays

In [55]:
brd = []
des = []
prc = []
off = []

Now, we start scraping the data. We use loop for efficiency

In [56]:
o1=o2=o3=0
while o1 < 100:
    try:
        # We scrape the data
        tag1 = driver.find_elements_by_xpath('//div[@class="_2B099V"]/div[1]')
        for i in tag1:
            if(o1<100):
                brd.append(i.text)
                o1+=1
            else:
                break
    
        tag2 = driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
        for i in tag2:
            if(o2<100):
                des.append(i.text)
                o2+=1
            else:
                break
        
        tag3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for i in tag3:
            if(o3<100):
                prc.append(i.text)
                o3+=1
            else:
                break
    
        # We check if we need more data, if yes we click the next button for next page
        if(o1<100):
            a = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
            a.click()
    except exceptions.StaleElementReferenceException:
        pass

We check if we have scraped the required data

In [57]:
print(len(brd),len(des),len(prc))

100 100 100

We create a DataFrame for the scraped data

In [58]:
df = pd.DataFrame({'Brand':brd, 'Description':des, 'Price':prc})
df

             Brand                                        Description Price
0              HOC  Luxury Fashionable Breathable Casual Sneakers ...  ₹417
1         RapidBox                  Stylish & Trendy Sneakers For Men  ₹630
2         Magnolia                                   Sneakers For Men  ₹398
3   luxury fashion  Luxury Fashionable casual sneaker shoes Sneake...  ₹449
4         URBANBOX                          Sneakers Sneakers For Men  ₹220
..             ...                                                ...   ...
95           SPARX  Brothers Luxury Fashionable Men's Casual Walki...  ₹449
96       DUNKASTON                                   Sneakers For Men  ₹298
97             HOC                          Series 7 Sneakers For Men  ₹444
98        RapidBox                                   Sneakers For Men  ₹189
99        Magnolia                  Stylish & Trendy Sneakers For Men  ₹620

[100 rows x 3 columns]

# Q7: Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

Firstly, we connect to the web driver

In [34]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [35]:
url = "https://www.myntra.com/shoes"

In [36]:
driver.get(url)

Setting the colour filter 'black'

In [37]:
btn = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
btn.click()

Setting the price filter

In [38]:
btn = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
btn.click()

Setting empty lists to scrape the data

In [39]:
brd = []
des = []
prc = []

Now, we start scraping the data

In [40]:
o1=o2=o3=0
while o1 < 100:
    try:
        # We scrape the data
        tag1 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3[1]')
        for i in tag1:
            if(o1<100):
                brd.append(i.text)
                o1+=1
            else:
                break
    
        tag2 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4[1]')
        for i in tag2:
            if(o2<100):
                des.append(i.text)
                o2+=1
            else:
                break
        
        tag3 = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
        for i in tag3:
            if(o3<100):
                prc.append(i.text.split('Rs.')[1])
                o3+=1
            else:
                break
    
        # We check if we need more data, if yes we click the next button for next page
        if(o1<100):
            a = driver.find_element_by_xpath('//li[@class="pagination-next"]')
            a.click()
    except exceptions.StaleElementReferenceException:
        pass

In [41]:
print(len(brd),len(des),len(prc))

100 100 100

Now, we make a DataFrame for the scraped data

In [42]:
df = pd.DataFrame({'Brand':brd, 'Description':des, 'Price':prc})
df

              Brand                          Description   Price
0   PUMA Motorsport          Unisex Mercedes F1 Sneakers    7999
1              Puma            Men Magnify Nitro Running    8449
2              Puma          Men Electrify Nitro Running    7499
3           Saint G            Men Mid-Top Chelsea Boots    9810
4              Puma            Women Magnify Nitro Shoes    8449
..              ...                                  ...     ...
95            MANGO             Suede Block Heeled Boots   10350
96             ECCO  Striped Suede Flatform Heeled Boots    8910
97             Puma        PEAKFREAK XCRSN Trekking Shoe    9999
98            MANGO        Women REDMOND V2 TrekkingShoe    7999
99   Tommy Hilfiger          Women Perforations Sneakers    8999

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
# Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”. After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
## 1. Title
## 2. Ratings
## 3. Price

Firstly, we connect to the web driver

In [67]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [68]:
url = "https://www.amazon.in/"

In [69]:
driver.get(url)

Inseting 'Laptop' in search bar

In [70]:
lbl = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
lbl.send_keys("Laptop")

Pressing the search button

In [71]:
btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
btn.click()

Pressing see more to show complete filter list for CPU

In [72]:
btn = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a')
btn.click()

Pressing i7 filter

In [73]:
btn = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[11]')
btn.click()

Initializing empty array and scraping title name

In [74]:
# Initialize empty array
title = []

# Scraping title name
tags = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
b=0
for i in tags:
    if(b<10):
        title.append(i.text)
        b+=1
    else:
        break

Initializing empty array and scraping price

In [76]:
# Initialize empty array
prc = []

# Scraping title name
tags = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
b=0
for i in tags:
    if(b<10):
        prc.append(i.text)
        b+=1
    else:
        break

Initializing empty array and scraping rating

In [78]:
# Collecting urls of all laptops
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal s-link-style a-text-normal']")

UR=[]
rating = []

# Getting the url of first 10 laptops
for i in urls[:10]:
    UR.append(i.get_attribute('href'))

#loop for every laptop in the list
for url in UR:
    driver.get(url)
    #exception handling for nosuchelementexception 
    try:                           
        r=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span") #locating the rating
        rating.append(r.text) #appending the ratings in Ratings list
    except :
        rating.append("NO rating")

Check whether all the required data has been scraped

In [80]:
print(len(title),len(rating),len(prc))

10 10 10

Creating a DataFrame for all the scraped data

In [81]:
df = pd.DataFrame({'Title':title, 'Rating':rating, 'Price':prc})
df

                                               Title        Rating     Price
0  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...  4.7 out of 5    95,490
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5    57,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    5 out of 5    59,990
3  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...  4.5 out of 5    89,990
4  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  4.3 out of 5    79,990
5  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...  4.6 out of 5    86,990
6  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5    57,990
7  LG Gram 17-inches Ultra-Light Intel Evo 11th G...  4.6 out of 5    99,990
8  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...  4.1 out of 5    82,990
9  Lenovo Legion 5 11th Gen Intel Core i7 15.6"(3...  4.3 out of 5  1,00,490

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

Firstly, we connect to the web driver

In [105]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [106]:
url = "https://www.ambitionbox.com/"

In [107]:
driver.get(url)

Clicking of the 'jobs' option on the menu

In [108]:
btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
btn.click()

Giving Data Scientist as the search feature

In [109]:
srch = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
srch.send_keys("Data Scientist")

Clicking search

In [111]:
btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
btn.click()

Clicking on location filter

In [112]:
btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]')
btn.click()

Searching for noida in location by inserting

In [113]:
srch = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
srch.send_keys("Noida")

Selecting the noida filter

In [114]:
btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
btn.click()

Now, we scrape the required data

In [116]:
# Defining an empty list
cmp = []

# Scraping data into the list
tag = driver.find_elements_by_xpath('//div[@class="company-info"]/p')
b=0
for i in tag:
    if(b>0 & b<11):
        cmp.append(i.text)
    b+=1

In [117]:
# Defining an empty list
day = []

# Scraping data into the list
tag = driver.find_elements_by_xpath('//div[@class="other-info"]/span[1]')
b=0
for i in tag:
    if(b<10):
        day.append(i.text)
        b+=1
    else:
        break

In [118]:
# Defining an empty list
rat = []

# Scraping data into the list
tag = driver.find_elements_by_xpath('//span[@class="body-small"]')
b=0
for i in tag:
    if(b<10):
        rat.append(i.text)
        b+=1
    else:
        break

Checking if we have scraped the required amount of data

In [119]:
print(len(cmp),len(day),len(rat))

10 10 10

Creating a DataFrame for the scraped data

In [120]:
df = pd.DataFrame({'Company':cmp, 'Day to Advertisement':day, 'Rating':rat})
df

                                      Company Day to Advertisement Rating
0  Nokia Solutions and Networks India (P)Ltd.              12d ago    4.3
1                        Ameriprise Financial              3hr ago    4.0
2                                       Paytm               6d ago    3.7
3                  Jubilant Foodworks Limited              23d ago    3.9
4                                CHT Sapiense               7d ago    3.7
5                                CHT Sapiense               8d ago    3.7
6                                    GI Group              19d ago    4.1
7                                    GI Group              19d ago    4.1
8                                    GI Group              19d ago    4.1
9               RMS Risk Management Solutions               1d ago    3.5

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

Firstly, we connect to the web driver

In [10]:
driver = webdriver.Chrome(r"C:\Users\jjjib\Desktop\Projects\FlipRobo\Web Scrapping 14-01\chromedriver.exe")

In [11]:
url = "https://www.ambitionbox.com/"

In [12]:
driver.get(url)

Clicking on Salary option on menu

In [13]:
btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
btn.click()

We put 'Data Scientist' as search feature

In [21]:
srch = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
srch.send_keys("Data Scientist")

Clicking on Data Scientist drop down

In [22]:
driver.implicitly_wait(10)
btn = driver.find_element_by_xpath('//div[@class="tt-dataset tt-dataset-job-profile-search"]/div[1]')
ActionChains(driver).move_to_element(btn).click(btn).perform()

Now, we start scraping the data

In [24]:
# Initialise empty array
cmp = []

# Scraping data
tag = driver.find_elements_by_xpath('//div[@class="name"]/a')
b=0
for i in tag:
    if(b<10):
        cmp.append(i.text)
        b+=1
    else:
        break

In [26]:
# Initialise empty array
tot = []

# Scraping data
tag = driver.find_elements_by_xpath('//div[@class="name"]/span')
b=0
for i in tag:
    if(b<10):
        tot.append(i.text)
        b+=1
    else:
        break

In [32]:
# Initialise empty array
exp = []

# Scraping data
tag = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
b=0
for i in tag:
    if(b<10):
        exp.append(i.text.split('\n')[2])
        b+=1
    else:
        break

In [36]:
# Initialise empty array
mini = []
maxi = []

# Scraping data
tag = driver.find_elements_by_xpath('//div[@class="salary-values"]')
b=0
for i in tag:
    if(b<10):
        mini.append(i.text.split('\n')[0])
        maxi.append(i.text.split('\n')[1])
        b+=1
    else:
        break

In [39]:
# Initialise empty array
avg = []

# Scraping data
tag = driver.find_elements_by_xpath('//div[@class="average-indicator-wrapper"]/p')
b=0
for i in tag:
    if(b<10):
        avg.append(i.text)
        b+=1
    else:
        break

Now, we check if we have scraped all the required data

In [41]:
print(len(cmp),len(tot),len(exp),len(mini),len(maxi),len(avg))

10 10 10 10 10 10

Now, we form a DataFrame for the scraped data

In [42]:
df = pd.DataFrame({'Company':cmp, 'Total Salary Record':tot, 'Experience':exp, 'Minimum Salary':mini, 'Average Salary':avg, 'Maximum Salary':maxi})
df

,Company,Total Salary Record,Experience,Minimum Salary,Average Salary,Maximum Salary
0,Walmart,based on 10 salaries,3 yrs exp,₹ 17.7L,₹ 28.7L,₹ 35.0L
1,Ab Inbev,based on 22 salaries,3-4 yrs exp,₹ 15.0L,₹ 19.5L,₹ 25.0L
2,ZS,based on 14 salaries,2 yrs exp,₹ 9.8L,₹ 15.8L,₹ 20.0L
3,Fractal Analytics,based on 72 salaries,2-4 yrs exp,₹ 9.5L,₹ 15.0L,₹ 22.0L
4,Optum,based on 23 salaries,3-4 yrs exp,₹ 11.0L,₹ 15.0L,₹ 21.3L
5,UnitedHealth,based on 49 salaries,2-4 yrs exp,₹ 7.2L,₹ 13.5L,₹ 20.5L
6,Tiger Analytics,based on 27 salaries,3-4 yrs exp,₹ 8.3L,₹ 13.5L,₹ 18.5L
7,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 12.7L,₹ 21.0L
8,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 8.5L,₹ 12.4L,₹ 15.0L
9,Ericsson,based on 42 salaries,3-4 yrs exp,₹ 5.8L,₹ 11.9L,₹ 21.5L